<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.bit.mapper.MemberMapper">

	<select id="registerCheck" resultType="kr.bit.entity.Member">
		select * from member_table
		where memberID=#{memberID}
	</select>

	<insert id="register" parameterType="kr.bit.entity.Member">
		insert into
		member_security(memberIdx,memberID,memberPw,memberName,memberAge,
		memberGender,memberEmail,memberProfile)
		values((select
		IFNULL(max(memberidx)+1,1)from member_security
		mem),#{memberID},#{memberPw},#{memberName},
		#{memberAge},#{memberGender},#{memberEmail},#{member},#{memberProfile})
	</insert>

	<select id="memberLogin" parameterType="kr.bit.entity.Member"
		resultType="kr.bit.entity.Member">
		select * from member_table
		where memberID =#{memberID} AND
		memberPw =#{memberPw}
	</select>

	<update id="memberUpdate" parameterType="kr.bit.entity.Member">
		update
		member_table set
		memberPw=#{memberPw}, memberName=#{memberName},
		memberAge=#{memberAge}, memberGender=#{memberGender},
		memberEmail=#{memberEmail} where memberID=#{memberID}
	</update>

	<select id="getMember" parameterType="memberMap"
		resultType="kr.bit.entity.Member">
		select * from member_security mem left outer join
		member_auth auth on mem.memberID = auth.memberID where
		mem.memberID=#{mem.memberID}
	</select>

	<update id="memberProfileUpdate"
		parameterType="kr.bit.entity.Member">
		update
		member_table set
		memberProfile=#{memberProfile}
		where memberID=#{memberID}
	</update>

	<insert id="authInsert" parameterType="kr.bit.entity.Member">
		insert into
		member_auth(memberID, auth) values(#{memberID}, #{auth})
	</insert>

</mapper>
